<div class="box-field" fxLayout="column" [formGroup]="form">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>
      {{ label }}
    </mat-label>
    <mat-select
      [formControlName]="controlName"
      [multiple]="multiple"
      [disableOptionCentering]="true"
      [placeholder]="placeholder"
    >
      <mat-select-trigger *ngIf="multiple">
        <!-- {{ form?.get(controlName).value?.length
        }}{{
          form?.get(controlName).value?.length === 1
            ? " item selecionado"
            : " itens selecionados "
        }} -->
        {{ getTextTrigger() }}
      </mat-select-trigger>
      <mat-option *ngFor="let item of list" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="info" [align]="'end'">{{ info }}</mat-hint>
    <!-- <mat-error *ngIf="controlName.invalid">
      {{ getErro() }}
    </mat-error> -->
  </mat-form-field>
</div>
