<div fxLayout="row" fxLayoutAlign="center center" style="min-height: 44px">
  <button
    (click)="click()"
    [disabled]="disabled"
    color="primary"
    mat-flat-button
  >
    <span
      class="spinner-button"
      [ngStyle]="{ visibility: loading ? 'visible' : 'hidden' }"
    >
      <mat-spinner [diameter]="24" [strokeWidth]="3"></mat-spinner>
    </span>

    <span [ngStyle]="{ visibility: loading ? 'hidden' : 'visible' }">
      <mat-icon *ngIf="icone">
        {{ icone }}
      </mat-icon>
      <span>{{ texto }}</span>
    </span>
  </button>
</div>
