<div class="box-field" fxLayout="column" [formGroup]="form">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>
      {{ label }}
    </mat-label>
    <textarea
      matInput
      #textareaForm
      [formControlName]="controlName"
      [placeholder]="placeholder || ''"
      [readonly]="readonly"
      [cdkAutosizeMinRows]="rows"
      cdkTextareaAutosize
      type="text"
    ></textarea>
    <mat-hint *ngIf="info" [align]="'end'">{{ info }}</mat-hint>
    <mat-error *ngIf="isInvalid()">
      {{ getError() }}
    </mat-error>
  </mat-form-field>
</div>
