<div class="box-field" fxLayout="column" [formGroup]="form">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>
      {{ label }}
    </mat-label>
    <input
      #inputForm
      [formControlName]="controlName"
      [placeholder]="placeholder || ''"
      [readonly]="readonly"
      [type]="type || 'text'"
      matInput
    />
    <mat-hint *ngIf="info" [align]="'end'">{{ info }}</mat-hint>
    <mat-error *ngIf="isInvalid()">
      {{ getError() }}
    </mat-error>
  </mat-form-field>
</div>
