section {
  padding: 24px 0;
}

.filter {
  padding: 0 24px;
  margin: 12px 0 32px;

  span {
    font-size: 16px;
    font-weight: 500;
  }
}

.list {
  display: flex;
  padding: 0 24px;
  flex-wrap: wrap;

  > div {
    flex: 0 1 calc(33.33% - 32px);
    padding: 12px 16px;
  }

  @media screen and (max-width: 768px) {
    > div {
      flex: 0 1 calc(50% - 32px) !important;
    }
  }

  @media screen and (max-width: 520px) {
    > div {
      flex: 0 1 calc(100% - 32px) !important;
    }
  }
}
