<section class="animate__animated animate__fadeIn">
  <div class="container">
    <h1 class="page-title">New Job</h1>

    <div style="margin-top: 24px">
      <app-form-job [form]="formNewJob"></app-form-job>
      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="12px"
        style="margin-top: 24px"
      >
        <app-button-secondary text="Cancel"></app-button-secondary>
        <app-button-primary
          text="Save"
          [disabled]="formNewJob.invalid"
        ></app-button-primary>
      </div>
    </div>
  </div>
</section>
