// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: (
  50: #ede9f2,
  100: #d1c8df,
  200: #b3a3c9,
  300: #957eb3,
  400: #7e63a3,
  500: #674793,
  600: #5f408b,
  700: #543780,
  800: #4a2f76,
  900: #392064,
  A100: #c3a4ff,
  A200: #a171ff,
  A400: #7f3eff,
  A700: #6e25ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$anuncio-vagas-primary: mat.define-palette($primary-palette);
$anuncio-vagas-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$anuncio-vagas-warn: mat.define-palette(mat.$red-palette);

$custom-typography: mat.define-typography-config(
  $font-family: "Inter",
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$anuncio-vagas-theme: mat.define-light-theme(
  (
    color: (
      primary: $anuncio-vagas-primary,
      accent: $anuncio-vagas-accent,
      warn: $anuncio-vagas-warn,
    ),
    typography: $custom-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($anuncio-vagas-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: "Inter";
}

.container {
  max-width: 540px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-size: 15px;
  color: #515154;
}

h1.page-title {
  margin: 0;
  font-size: 2.3em;
  font-weight: 600;
}

.spinner-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
}
// Botão primário
.mat-flat-button.mat-primary {
  width: 100%;
  font-weight: 600;
  color: #ffffff !important;
  padding: 0 24px;

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #ffffff;
  }
}

// Botão secundário
.mat-flat-button.mat-secondary {
  width: 100%;
  font-weight: 500;
  padding: 0 24px;
  color: #674793 !important;
}

.technologies-chip {
  .mat-chip-list-wrapper {
    margin-top: 8px;
  }
  .mat-standard-chip {
    font-size: 10px;
    min-height: auto !important;
    height: auto !important;
    padding: 3px 8px;
  }
}

.mat-form-field {
  width: 100%;
}

// Mat Dialog
.mat-dialog-container {
  background-color: #ffffff;
  padding: 24px 20px 20px !important;
  border-radius: 6px !important;

  .mat-dialog-title {
    font-size: 20px !important;
    margin: 0 0 16px 0;
    line-height: 1.6;
    text-align: center;
  }

  .mat-dialog-content {
    padding: 0 0 24px 0;
    margin: 0;
    max-height: 80vh !important;

    p {
      margin: 0;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.73;
      letter-spacing: normal;
      text-align: center;
    }
  }
}
